<div class="card mb-3 ">
    <div class="row">
        <div class="col-md-3">
            <img src="{%static 'blog/img/1.png'%}" width="100" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">C++ Proglamayi Melih Ile Ogrenin</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                    lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3 ">
    <div class="row">
        <div class="col-md-3">
            <img src="{%static 'blog/img/2.png'%}" width="100" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Excel'i Melih Ile Ogrenin</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                    lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3 ">
    <div class="row">
        <div class="col-md-3">
            <img src="{%static 'blog/img/3.png'%}" width="100" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Python'u Proglamayi Melih Ile Ogrenin</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                    lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3 ">
    <div class="row">
        <div class="col-md-3">
            <img src="{%static 'blog/img/4.png'%}" width="100" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="card-body">SQL'i Melih Ile Ogrenin</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                    lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            </div>
        </div>
    </div>
</div>