{% extends "base.html" %}
{% load static %}

{% block title %}
Blogs Detail Page
{% endblock %}

{% block content %}
    <h2>Blogs Detail {{ blog.id }}</h2> <!-- blog.id'yi kullanın -->

    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                {% include 'partials/_katagori.html' %}
            </div>
            <div class="col-9">
                <div class="card mb-3 ">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% static 'blog/img/'|add:blog.image %}" width="100" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                
                
                                    <a href="{% url 'blogs-details' id=blog.id %}">
                                    {{blog.title}}   
                                    </a>
                
                                </h5>
                                    </h5>
                                <p class="card-text">{{blog.description}}.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    
                
               
               
        </div>
    </div>
{% endblock %}
