/* Özel stiller */
body {
    font-family: 'Arial', sans-serif;
    padding-top: 56px; /* Navbar için padding */
}

.hero-section {
    background: url('turkey-5201498_1280.jpg') no-repeat center center/cover;
    padding: 150px 0;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section h1,
.hero-section p {
    position: relative;
    z-index: 1;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 50px;
}

.social-links a {
    text-decoration: none;
    font-size: 1.5rem;
}

.social-links a:hover {
    color: #ffc107 !important;
}